@font-face {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Kumbh Sans Light'), local('KumbhSans-Light'), url('/fonts/KumbhSans/KumbhSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Kumbh Sans Regular'), local('KumbhSans-Regular'), url('/fonts/KumbhSans/KumbhSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Kumbh Sans Bold'), local('KumbhSans-Bold'), url('/fonts/KumbhSans/KumbhSans-Bold.ttf') format('truetype');
}
