.history {
  .single,
  .double,
  .straight-right,
  .straight-left,
  .void-right,
  .void-left {
    margin: 0;
    background-size: 100% auto;
    background-repeat: repeat-y;
    min-height: 100px;

    &:before {
      content: ' ';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      background-size: 100% auto;
      background-position: top center;
      background-repeat: no-repeat;
    }
  }


.split-from-right, .split-start  {
&:after {
    content: ' ';
    padding-bottom: 50%;
    position: relative;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: block;
}
}

  .single {
    background-image: url(/history/single.svg);
  }

  .straight-left {
    background-image: url(/history/left.svg);
  }

  .straight-left.red {
    background-image: url(/history/left_red.svg);
  }

  .straight-right {
    background-image: url(/history/right.svg);
  }

  .double {
    background-image: url(/history/left.svg), url(/history/right.svg);
  }

  .split-from-right {
    background-image: url(/history/left_red.svg), url(/history/right.svg);
  }

  .void-left {
    background-image: url(/history/void_left.svg);
  }

  .void-left.red {
    background-image: url(/history/void_left_red.svg);
  }

  .void-right {
    background-image: url(/history/void_right.svg);
  }

  .straight-left.void-right {
    background-image: url(/history/left.svg), url(/history/void_right.svg);
  }

  .straight-left.red.void-right {
    background-image: url(/history/left_red.svg), url(/history/void_right.svg);
  }

  .straight-right.void-left {
    background-image: url(/history/right.svg), url(/history/void_left.svg);
  }


  .split-from-right:before {
    background-image: url(/history/split_from_right.svg);
  }

  .split-start:before {
    background-image: url(/history/split.svg);
  }

  .single.point:before {
    background-image: url(/history/single_point.svg);
    background-position: center center;
  }

  .point-left:before {
    background-image: url(/history/point_left.svg);
    background-position: center center;
  }

  .point-left.red:before {
    background-image: url(/history/point_left_red.svg);
    background-position: center center;
  }

  .point-right:before {
    background-image: url(/history/point_right.svg);
    background-position: center center;
  }
}
