$font-family-sans-serif: 'Lato';
$headings-font-family: 'Kumbh Sans';
$primary: #b51f08;
$body-color: #3b4045;

$fa-font-path: '/fonts/forkawesome';

@import 'filtered-bootstrap';
@import 'filtered-fork-awesome';
@import 'mixins';
@import 'fonts/lato';
@import 'fonts/kumbh';
@import "additional-theme";
