{{ define "main" }}

<section class="feature-list section">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-11 offset-lg-1 text-center mb-2">
                <h1>{{.Title}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-md-11 offset-lg-1 mb-5">
                {{.Content}}
            </div>
        </div>

        {{ range .Pages }}
        <div class="row">
            <div class="col-lg-10 col-md-11 offset-lg-1">
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-md-11 offset-lg-1">
                <h2 id="{{ .Title | urlize }}" class="my-4">{{ .Title | markdownify }}</h2>
                <div class="content">
                    {{.Content}}
                </div>
            </div>
        </div>
        {{ end }}
    </div>

</section>

{{ end }}
