$font-family-sans-serif: 'Lato';
$headings-font-family: 'Kumbh Sans';
$headings-font-weight: 400;
$primary: #b51f08;
$body-color: #3b4045;

$btn-border-radius:       30px;
$btn-border-radius-lg:     $btn-border-radius   ;
$btn-border-radius-sm:   $btn-border-radius     ;
$btn-padding-x-lg: 40px;
$btn-padding-y-lg: 15px;

$navbar-light-color: $body-color;


$fa-font-path: '/fonts/forkawesome';

@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/fork-awesome/scss/fork-awesome';
@import 'fonts/lato';
@import 'fonts/kumbh-sans';
@import "additional-theme";
@import "history";

.mw-150px {
  max-width: 150px;
}

@media(min-width:990px){
  .bg-face {
    background-image: url(/images/banner/face.svg);
    background-repeat: no-repeat;
    background-size: auto 75%;
    background-position: center 101%;
  }
}
