{{ $data := index .Site.Data .Site.Language.Lang }}
{{- with index $data.features (.Get "id") }}
<section class="section {{ if isset $.Params "background" }}bg-{{$.Params.background}}{{ end }}">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center mb-5">{{ .title | markdownify }}</h1>
      </div>

      <div class="features-section text-center text-md-left">
        {{ range .columns }}
          <h2 class="mb-10"><i class="{{ .icon }}"></i></h2>
          <h3 class="mb-2">{{ .title | markdownify }}</h3>
          <p>{{ .content | markdownify }}</p>
        {{ end }}
      </div>

    </div>
  </div>
</section>
{{- end }}