{{ $data := index .Site.Data .Site.Language.Lang }}
{{- with index $data.promo (.Get "id") }}

<section class="{{ if isset $.Params "background" }}bg-{{$.Params.background}}{{ end }}{{ if eq $.Params.background "primary" }} text-white{{end}} section">
    <div class="container">
        <div class="row {{ if .right }}flex-md-row-reverse{{end}}">
            <div class="col-md-6 text-center mb-5 mb-lg-0">
                <img class="img-fluid" src="{{ .image.url | absURL }}" alt="{{ .image.alt }}" title="{{ .image.alt }}" width="{{ .image.width }}" height="{{ .image.height }}">
            </div>
            <div class="col-md-6 align-self-center text-center text-md-left">
                <h2 class="mb-10">{{ $.Params.title | markdownify }}</h2>
                <p>{{ $.Inner | markdownify }}</p>
            </div>
        </div>
    </div>
</section>
{{ end }}